.body   {
    background-color: #000000;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
h3  {
    text-align: center;
    padding: 40px;
}
@media screen and (max-width: 980px) {
    div#cuerpo1 {
    display: none;
    }
}
#cuerpo2 {
    gap: 0px 150px;
    justify-content: center;
    margin-left: 100px;
    margin-right: 200px;
}
.list-unstyled  {
    color: #ffffff;
    width: 400px;
}
#pri-i   {
    background-color: #2dbbf4;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    width: 400px;
}
#sec-i  {
    color: #ffffff;
    font-size: 30px;
}
#color  {
    background-color: #2dbbf4;
}
p{
    color: white;
}
footer  {
    background-color: #2dbbf4;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}