.body   {
    background-color: #000000;
}
h3  {
    text-align: center;
    padding: 40px;
}
#color  {
    background-color: #2dbbf4;
}
p{
    color: white;
}
.list-unstyled  {
    color: #ffffff;
    width: 400px;
}
i{
    background-color: #2dbbf4;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    width: 400px;
}
#cuerpo2 {
    gap: 0px 150px;
    justify-content: center;
    margin-left: 100px;
    margin-right: 200px;
}
#primary   {
    background-color: skyblue;
    padding: 10px;
}
footer  {
    background-color: #2dbbf4;
    padding: 20px;
}

@media screen and (max-width: 980px) {
    div#cuerpo1 {
    display: none;
    }
}

